.productContainer {
    height: 100%;
    width: 1000px;
}

.fullContainer {
    display: flex;
    justify-content: space-evenly;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    text-align: center;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttonContainer {
    text-align: center;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
}