body {
  margin: 0;
  font-family: 'Solway', serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 246, 246);
  box-sizing: border-box;
}

code {
  font-family: 'Solway', serif
}

button {
  font-family: 'Solway', serif
}