body {
  margin: 0;
  font-family: 'Solway', serif!important;
  -webkit-font-smoothing: antialiased!important;;
  -moz-osx-font-smoothing: grayscale!important;;
  background-color: rgb(246, 246, 246)!important;;
  box-sizing: border-box!important;;
}